<div class="detailedCard">
  <div class="detailedCard--header">
    <a class="wrapperLink" routerLink="/" routerLinkActive="active"><button class="btn btn-block btn-secondary">Return</button></a>
  </div>
  <div class="detailedCard--body">
      <div class="row col-12 justify-content-center">

        <div class="detailedCard--image-container col-6 row mg-h-auto">
          <img [src]="getPath(pokemon)" class="detailedCard--image">
        </div>

        <div class="col-6 detailedCard--body--info">
          <h2 class="detailedCard--name col-12 row mg-h-auto">{{ pokemon.name | uppercase }} </h2>
          <h6 class="detailedCard--date">{{ pokemon.date }}</h6>
          <p class="detailedCard--description">{{ pokemon.description }}</p>

          <span class="detailedCard--id col-12 row mg-h-auto">ID: {{ pokemon.id }} </span>
          <span class="detailedCard--damage col-12 row mg-h-auto">DAMAGE: {{ pokemon.damage }} </span>
          <span class="detailedCard--captured col-12 row mg-h-auto">{{ pokemon.captured ? 'CAPTURED' : 'NOT CAPTURED'}} </span>
        </div>
      </div>   
      <div class="row col-12 justify-content-around mg-h-auto">
        <button class="btn btn-warning col-4 capture" (click)="capture(pokemon)">{{ pokemon.captured ? 'Release' : 'Capture' }}</button>
        <button class="btn btn-danger col-4 damage"(click)="damage(pokemon)">Damage</button>
      </div>
    </div>
  </div>
