<div class="detailedCard">
  <div class="detailedCard--header">
    <button>Return</button>
  </div>
  <div class="detailedCard--body">
    <div class="detailedCard--image--wrapper">
      <img class="detailedCard--image"/>
    </div>
    <div class="detailedCard--name--wrapper">
      <h2 class="detailedCard--name">

      </h2>  
    </div>
    <div class="detailedCard--info--wrapper">
      <p class="detailedCard--info">

      </p>
    </div>
    <div class="detailedCard--catch--wrapper">
      <button class="detailedCard--catch">Catch</button>
    </div>
    <div class="detailedCard--damage--wrapper">
      <button class="detailedCard--damage">Damage</button>
    </div>
    <div class="detailedCard--edit--wrapper">
      <button class="detailedCard--edit">Edit</button>
    </div>
  </div>
</div>